[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.10"

[packages]
project = {path = "."}

[dev-packages]
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
coverage = "*"
autoflake = "*"
autopep8 = "*"
black = "*"
flake8 = "*"
isort = "*"
